@font-face {
    font-family: 'julius';
    src: url('/fonts/JuliusSansOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'big-shoulders';
    src: url('/fonts/BigShouldersDisplay-VariableFont_wght.ttf');
}

.fonty {
    font-family: 'big-shoulders';
    font-style: regular;
}

body {
    font-family: 'big-shoulders';
}
